@model IEnumerable<MockExams.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="FilterByRoomCapacity" method="get">
    <div style="margin-bottom:10px;">
        <label for="capacity">Select Room Capacity:</label><br>
        <select id="capacity" name="capacity">
            <option value="1">1 Person</option>
            <option value="2">2 People</option>
            <option value="3">3 People</option>
            <option value="4">4 People</option>
        </select>
    </div>
    <button type="submit">Filter Rooms</button>
</form>


<form asp-action="SortByPriceLowToHigh" method="get">
    <button type="submit">Sort by Price (Low to High)</button>
</form>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>      |
                 <a asp-controller="Bookings" asp-action="Create" asp-route-RoomId="@item.RoomId">Book Now :)</a> 
            </td>
        </tr>
}
    </tbody>
</table>
