@model ECommercePlatform.Models.Products // Specifies the Products model for the Delete view

@{
    // Starts a Razor code block for server-side initialization
    ViewData["Title"] = "Delete"; // Sets the browser page title to "Delete"
}

<h1>Delete</h1> <!-- Primary page heading -->

<h3>Are you sure you want to delete this?</h3> <!-- User confirmation message -->

<div>
    <!-- Container for product information -->
    <h4>Products</h4> <!-- Sub-heading for the product entity -->
    <hr /> <!-- Horizontal line separator -->
    <dl class="row">
        <!-- Description list for product properties using Bootstrap grid -->
        <dt class="col-sm-2">
            <!-- Label column for the Product Name -->
            @Html.DisplayNameFor(model => model.ProductName) @* Displays the property name for ProductName *@
        </dt>
        <dd class="col-sm-10">
            <!-- Data column for the Product Name -->
            @Html.DisplayFor(model => model.ProductName) @* Displays the actual value of ProductName *@
        </dd>
        <dt class="col-sm-2">
            <!-- Label column for the Stock quantity -->
            @Html.DisplayNameFor(model => model.Stock) @* Displays the property name for Stock *@
        </dt>
        <dd class="col-sm-10">
            <!-- Data column for the Stock quantity -->
            @Html.DisplayFor(model => model.Stock) @* Displays the actual value of Stock *@
        </dd>
        <dt class="col-sm-2">
            <!-- Label column for the Price -->
            @Html.DisplayNameFor(model => model.Price) @* Displays the property name for Price *@
        </dt>
        <dd class="col-sm-10">
            <!-- Data column for the Price -->
            @Html.DisplayFor(model => model.Price) @* Displays the actual value of Price *@
        </dd>
        <dt class="col-sm-2">
            <!-- Label column for the Image Path -->
            @Html.DisplayNameFor(model => model.ImagePath) @* Displays the property name for ImagePath *@
        </dt>
        <dd class="col-sm-10">
            <!-- Data column for the Image Path -->
            @Html.DisplayFor(model => model.ImagePath) @* Displays the actual value of ImagePath *@
        </dd>
        <dt class="col-sm-2">
            <!-- Label column for the Supplier -->
            @Html.DisplayNameFor(model => model.Suppliers) @* Displays the property name for Suppliers *@
        </dt>
        <dd class="col-sm-10">
            <!-- Data column for the Supplier ID -->
            @Html.DisplayFor(model => model.Suppliers.SuppliersId) @* Displays the associated Supplier's ID *@
        </dd>
    </dl> <!-- Ends the description list -->

    <form asp-action="Delete">
        <!-- Form that submits the deletion request to the server -->
        <input type="hidden" asp-for="ProductsId" /> <!-- Hidden field to pass the Product ID to the Delete action -->
        <input type="submit" value="Delete" class="btn btn-danger" /> <!-- Button to confirm and execute deletion --> |
        <a asp-action="Index">Back to List</a> <!-- Link to cancel and return to the product list -->
    </form> <!-- Ends the deletion form -->
</div> <!-- Ends the information container -->