@model IEnumerable<ECommercePlatform.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="product-container">

    @foreach (var item in Model)
    {
        <div class="product-card">

            <img src="~/images/@(item.ProductName).jpg" class="product-image" />

            <h5>@item.ProductName</h5>

            <p>Stock: @item.Stock</p>

            <p><strong>$@item.Price</strong></p>

            <p>Supplier: @item.Suppliers?.SuppliersId</p>

            <div>
                <a asp-action="Edit" asp-route-id="@item.ProductsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductsId">Delete</a>
            </div>

            <form asp-controller="BasketProducts" asp-action="Create" method="post">
                <input type="hidden" name="ProductsId" value="@item.ProductsId" />

                @if (item.Stock > 0)
                {
                    <button type="submit" class="btn btn-primary w-100">
                        Add to Basket
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary w-100" disabled>
                        Out of Stock
                    </button>
                }
            </form>

        </div>
    }

</div>