@model IEnumerable<ECommercePlatform.Models.Suppliers>

<h1 class="section-title">Suppliers</h1>
<p>Total Suppliers: @Model.Count()</p>
<input type="text" id="searchBox" placeholder="Search suppliers..." class="form-control" />
<div class="supplier-container">

    @foreach (var item in Model)
    {
        <div class="supplier-card">

            <!-- Header -->
            <div class="supplier-header">
                <h4>@item.SupplierName</h4>
            </div>

            <!-- Body -->
            <div class="supplier-body">
                <p><strong>Email:</strong> 📧 @item.SupplierEmail</p>
                <p><strong>Info:</strong> ℹ @item.SupplierInformation</p>
            </div>

            <!-- Actions -->
            <div class="supplier-actions">
                <a asp-action="Edit" asp-route-id="@item.SuppliersId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.SuppliersId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.SuppliersId">Delete</a>
            </div>
            <p><strong>Products:</strong> 12</p>
        </div>
        
    }

</div>

<!-- IMAGE AFTER CARD -->
<div class="supplier-image-bottom">
    <img src="~/images/Happy.jpg" />
    <img src="/images/Farmer.jpg"/>
    <img src="~/images//supplier.jpg"/>
</div>